.#{$class} {
 text-align: center;
 margin-top: 1rem;
}

.#{$class}-title {
  @extend %uppercase;
  @extend %component-title;
}

.#{$class}-content {
  width: 90%;
  padding: 1rem 0.5rem;
  margin: 0 auto;
}

.#{$class}-item {
  box-shadow: 0 0 20px 1px $color-ospace;
  &:nth-child(odd) {
    background-color: $color-amazon;
    color: $color-ottoman;
  }
  &:nth-child(even) {
    background-color: $color-amber;
  }
  padding: 0.5rem;
  width: 40%;
  margin: 0.1rem auto;
  font-size: 70%;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
}

//------------------------ Drawing section (and I don't mean you should draw here.
//-  I know you know. But just sayin' ;) :D. Funny, no? ok. good.)
.#{$class}-drawing {
  width: 100%;
}

.#{$class}-drawing-top {
  text-align: center;
  margin: 2rem auto;
}


.#{$class}-drawing-title {
  @extend %uppercase;
  @extend %component-title;
}

.#{$class}-drawing-content {
  background-image: url("asset/image/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0.5rem;
}



.#{$class}-drawing-link {
  display: inline-flex;
  justify-content: center;
  width: 40%;
}

.#{$class}-drawing-image {
  width: 7rem;
  height: 7rem;
  margin: 0.5rem;
  padding: 0.2rem;
  border: 0.1rem solid $color-ospace;
  background-color: $color-background;
  box-shadow:  10px 10px 15px 1px $color-ospace;
  &:hover {
    background-color: $color-amber;
  }
}
