.#{$class} {
  text-align: center;
  margin: 0 auto;
}


.#{$class}-title {
  @extend %uppercase;
  margin-top: 3rem;
}

.#{$class}-underline {
  @extend %underline;
}

.#{$class}-subtitle {
  @extend %component-title;
  margin: 3rem 0 1.5rem 0;
  //font-weight: bold;
}

.#{$class}-link {
  //border: 0.1rem solid black;
  width: 250px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0 0 15px 1px $color-ospace;
}
