.#{$class} {
  text-align: center;
}


.#{$class}-title {
  @extend %uppercase;
  margin-top: 3rem;
}

.#{$class}-underline {
  @extend %underline;
}

.#{$class}-subtitle {
  @extend %component-title;
  margin: 3rem 0 1.5rem 0;
}

.#{$class}-link {
  width: 250px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 0.2rem;
  box-shadow: 10px 10px 15px 1px $color-ospace;
  border: 0.1rem solid $color-amazon;
  text-decoration: none;
}

.#{$class}-caption {
  padding: 0.5rem;
  font-size: 80%;
  color: $color-amazon;
}

.#{$class}-image {
  border: 0.01rem solid $color-amazon;
}
