.#{$class} {
  width: 100%;
}

.#{$class}-wrapper {
  display: inline-block;
  background-color: $color-background;
  width: 100%;
}

.#{$class}-portrait {
  display: flex;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 50%;
  border: 0.5rem solid $color-ospace;
}

.#{$class}-portrait-wrapper {
  display: block;
}

.#{$class}-me-wrapper {
  text-align: center;
  @extend %wrapper;
  margin-bottom: 2rem;
}

.#{$class}-me-title {
  @extend %uppercase;
}

.#{$class}-me-content {
  text-align: justify;
  text-indent: 1rem;
  line-height: 1.3rem;
  word-spacing: -0.1rem;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}

.#{$class}-me-underline {
  color: $color-red;
  margin: 3rem auto;
}
