@media (min-width: 1280px) {

  .#{$class} {
    width: 100%;
  }

  .#{$class}-wrapper {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  }

  .#{$class}-portrait-wrapper {
    width: 20%;
    margin-left: -15%;
    margin-right: -28%;
    padding: 0;
  }

  .#{$class}-me-wrapper {
    width: 40%;
    font-size: 120%;
    border-bottom: 0.01rem solid $color-ospace;
    margin: 2rem 4rem;
    padding: 4rem;
  }

  .#{$class}-me-content {
    display: flex;
    font-size: 110%;
    width: 95%;
    margin: 0 auto;
  }
}
