
$class: 'about';




.#{$class} {
  @extend %section;
  text-align: center;
}

.#{$class}-wrapper {
  padding: 5vw 0;
  margin: 1vw;
}


.#{$class}-me-wrapper {
  @extend %wrapper;
}

.#{$class}-details-title,
.#{$class}-hobbies-title {
  @extend %title-frame;
}

.#{$class}-portrait-wrapper,
.#{$class}-me-wrapper {
  @extend %section-title;
}

.#{$class}-portrait {
  border-radius: 50%;
  padding: 0.3rem;
  border: 0.3rem solid $color-ospace;
}

.#{$class}-me-title {
  font-size: 150%;
  font-weight: bold;
  @extend %uppercase;
}
.#{$class}-me-underline {
  color: $color-red;
}

.#{$class}-me-content {
  margin: 4rem 0;
  line-height: 1.2rem;
  text-align: justify;
  text-indent: 1.5rem;
}
%details-frame {
  width: 50%;
  margin: 0;
}

.#{$class}-details,
.#{$class}-hobbies {
  @extend %details-frame;
  @extend %wrapper;
}


.#{$class}-details {
  float: left;
}
.div-left,
.div-right {
  text-align: left;
  line-height: 1.2rem;
  font-size: 80%;
}

.div-left {
  float: left;
  width: 30%;

}

.div-right {
  float: right;
  width: 70%;

}


.#{$class}-details-title,
.#{$class}-hobbies-title {
  font-weight: bold;
  @extend %title-frame;
}

.#{$class}-details-item {
  font-weight: bold;
}






.#{$class}-hobbies {
  float: right;
}


.#{$class}-hobbies-icon {
  display: inline-block;
  justify-content: center;
  text-align: justify;
}
