
.about
  .about-wrapper
    .about-portrait-wrapper
      img.about-portrait(src=resume.about.portrait.url)
    .about-me-wrapper
      h1.about-me-title #{resume.about.title}
      span.about-me-underline #{resume.about.underline}
      p.about-me-content #{resume.about.content}
      
      label.about-me-more(for="more-box") Contact details and hobbies...      
    
