.#{$class} {
  width: 100%;
}

.#{$class}-wrapper {
  background-color: $color-background;
  width: 100%;
}

.#{$class}-portrait {
  display: flex;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 50%;
  border: 0.5rem solid $color-ospace;
}

.#{$class}-me-wrapper {
  text-align: center;
  @extend %wrapper;
}

.#{$class}-me-title {
  font-size: 150%;
  @extend %uppercase;
}

.#{$class}-me-content {
  text-align: justify;
  text-indent: 1.5rem;
}

.#{$class}-me-underline {
  @extend %underline;
}

.#{$class}-me-content {
  margin-top: 2rem;
}
