$color-white: white;
$color-red: red;
$color-ottoman: #FBFEFB;
$color-westar: #E6E2DE;
$color-rose: #F9AAAA;
$color-mojo: #C95041;
$color-ospace: #313A3A;
$color-asparagus: #475844;
$color-nobel: #BBB9B8;
$color-olivine: #86BC6C;
$color-gossip: #C5F8A0;
