@media (min-width: 1280px) {

  .#{$class}-wrapper {
    margin-top: 5rem;
  }

  .#{$class}-title {
    font-size: 200%;
  }

  .#{$class}-underline {
    font-size: 120%;
    border-bottom: 0.01rem solid $color-ospace;
    padding-bottom: 4rem;
    width: 40%;
    margin: 0 auto;
  }

  .#{$class}-title {
    margin: 1rem auto;
    padding-top: 10%;
    width: 80%;
    border-top: 0.01rem solid $color-ospace;
  }

  .#{$class}-component-title {
    font-size: 110%;
    padding: 1rem;
  }

  .#{$class}-card-title {
    font-size: 70%;
  }

  .#{$class}-card-body {
    font-size: 110%;
  }


}
