$class: 'myresume';

.#{$class} {
  padding-top: 10vh;
  @extend %section-title;
  line-height: 1.2rem;
  text-align: center;
  background-color: lighten($color-westar,9)
}

.#{$class}-wrapper {
  width: 100%;
  justify-content: center;
  display: block;
  padding: 4rem 0;
}

.#{$class}-title {
  @extend %title-frame;
  @extend %uppercase;
  display: flex;
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
  font-size: 150%;
}

.#{$class}-underline {
  @extend %underline;
  padding: 1rem 0;
}

.#{$class}-component-title {
  text-align: center;
  @extend %uppercase;
  padding: 0.5rem;
  margin: 2rem 0 ;
  display: inline-block;
  background-color: $color-westar;
  border-radius: 0.3rem;
}

.#{$class}-card,
.#{$class}-list {
  font-size: 80%;
}

.#{$class}-card-wrapper {
  background-color: lighten($color-westar, 5);
  padding: 0.1rem 0;
  margin: 0.5rem;
  border: 0.07rem solid darken($color-westar, 10%);
}

.#{$class}-card-title {
  font-weight: bold;
  padding-top: 0.5rem;
  text-align: center;
}

.#{$class}-card-title,
.#{$class}-card-details {
  text-transform: capitalize;
}

.#{$class}-card-top {
  border: none;
}

.#{$class}-card-body {
  background-color: darken($color-westar, 3%);
  padding: 1rem;
  text-align: left;
}

.#{$class}-card-checkbox {
  display: none;
}

.#{$class}-card-checkbox:checked + .#{$class}-card-body {
  display: none;
}

.#{$class}-card {
  background-color: darken($color-westar, 3%);
  border-radius: 2rem 2rem 0 0;
  margin: 1rem;
  &:hover {
    background-color: darken($color-westar, 20%);
  }
}

.#{$class}-card-top {
  border-bottom: 0.07rem solid darken($color-westar, 30%);
}

.fa.fa-angle-double-down {
  font-size: 50%;
  display: block;
  color: $color-mojo;
}

.#{$class}-card-company,
.#{$class}-card-date {
  text-transform: capitalize;
}

.#{$class}-card-date {
  font-style: oblique;
  font-size: 60%;
  color: darken($color-westar, 50);
}
.myresume-card-title,
.fa.fa-angle-double-down {
  cursor: pointer;
  border-radius: 2rem 2rem 0 0;
}

.#{$class}-card-responsability {
  padding: 0.2rem 0;
  &::first-letter {
    text-transform: capitalize;
  }
}

// --------------------EDUCATION

.#{$class}-list-wrapper {
  border: 0.07rem solid darken($color-westar, 10%);
  margin: 0.5rem;
}

.#{$class}-list {
  font-size: 70%;
  padding: 0 0.5rem;
  text-align: left;
  &:nth-child(even) {
    background-color: lighten($color-westar, 5);
  }
  &:nth-child(odd) {
    background-color: darken($color-westar, 10%)
  }
}
