.#{$class} {
  text-align: center;
}

.#{$class}-title {
  @extend %uppercase;
  margin-top: 3rem;
}

.#{$class}-underline {
  color: $color-red;
}

.#{$class}-component {
  line-height: 1rem;
}

.#{$class}-component-title {
  @extend %uppercase;
  @extend %component-title;
}

.#{$class}-card,
.#{$class}-list {
  font-size: 80%;
}

.#{$class}-card-wrapper {
  background-color: lighten($color-amber, 10);
  padding: 0.5rem;
  margin: 0.5rem auto;
  border-radius: 0.3rem;
  width: 90%;
}

.#{$class}-card-title {
  padding: 0.1rem;
  line-height: 1.5rem;
}

.#{$class}-card-arrow {
  @extend %arrow-down;
  margin: 0 auto;
}

.#{$class}-card-title,
.#{$class}-card-details {
  text-transform: capitalize;
}

.#{$class}-card-top {
  border: none;
}

.#{$class}-card-body {
  background-color: lighten($color-amber, 25);
  padding: 1rem;
  text-align: left;
}

.#{$class}-card-checkbox {
  display: none;
}

.#{$class}-card-checkbox:checked + .#{$class}-card-body {
  display: none;
}

.#{$class}-card {
  background-color: darken($color-westar, 3%);
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 10px 20px 0.5px $color-amazon;
  margin: 1rem;
  &:hover {
    background-color: darken($color-westar, 20%);
  }
}

.#{$class}-card-top {
  border-bottom: 0.07rem solid darken($color-westar, 30%);
}

.#{$class}-card-company,
.#{$class}-card-date {
  text-transform: capitalize;
}

.#{$class}-card-date {
  font-style: oblique;
  font-size: 60%;
  color: darken($color-westar, 50);
}

.#{$class}-card-responsability {
  padding: 0.2rem 0;
  &::first-letter {
    text-transform: capitalize;
  }
}

// --------------------EDUCATION

.#{$class}-list-wrapper {
  border: 0.07rem solid darken($color-westar, 10%);
  margin: 0.5rem auto;
  border-radius: 0.2rem;
  width: 90%;
}

.#{$class}-list {
  font-size: 70%;
  padding: 0 0.5rem;
  text-align: left;
  &:nth-child(even) {
    background-color: lighten($color-westar, 5);
  }
  &:nth-child(odd) {
    background-color: darken($color-westar, 10%)
  }
}
// ---------------------Download button

.#{$class}-download-wrapper {
  margin: 1rem;
  @extend %component-title;
  cursor: pointer;
  background-color: $color-gossip;
  box-shadow: 10px 10px 15px 1px $color-ospace;
}

.#{$class}-download {
  cursor: pointer;
  text-decoration: none;
  color: $color-ospace;
  font-weight: bold;
}

.#{$class}-download-icon {
  padding: 0.3rem;
}
