#about
input.menu-checkbox(type="checkbox", name="menu-icon", id="menu-icon-id")
.menu
  each list in resume.home.menu.list
    a.menu-link(href=`#${list.url}`) #{list.label}      
.menu-toggle
  label.menu-toggle-label(for="menu-icon-id")
    span.new-cv-icon-menu(href=`#about`)
  
