$class: 'menu';

.#{$class} {
  @extend %section-title;
  font-size: 0.5rem;
  color: $color-westar;
  justify-content: center;
  width: 100%;
  position: fixed;
  left: 0;
}
.#{$class} {
  position: sticky;
  top: 0;
}
%menu-padding {
  padding: 0.1rem 1.58rem;
}

.#{$class}-icon {
  cursor: pointer;
  float: left;
  background-color: $color-asparagus;
}
.#{$class}-icon:hover {
  color: $color-mojo;
  cursor: pointer;
}

.#{$class}-list {
  float: top;
  display: flex;
}
.#{$class}-list-wrapper {
  background-color: $color-ospace;
  justify-content: center;
}


.#{$class}-list-item,
.#{$class}-icon {
  @extend %menu-padding;
  line-height: 1.5rem;
}
.#{$class}-list-item {
  border-right: 0.01rem solid $color-asparagus;
  &:last-child {
    border-right: none;
  }
  width: 100%;
}

.#{$class}-list-item:hover {
  color: $color-gossip;
  background-color: $color-asparagus;
}

.#{$class}-type-checkbox:checked ~ .#{$class}-list-item {
  visibility: hidden;
}



input[type=checkbox] {
  display: none;
}
