// @media (min-width: 30rem) {
//   .#{$class}-list-wrapper {line-height: 1.5rem; display: flex; justify-content: center;align-items: center; padding: 0;}
//   .#{$class}-list {display:flex; justify-content: center; text-align: center; padding: 0 1rem;}
//   .#{$class}-list-link {display: block; width: 100%; padding: 0;}
// }
//
// @media (max-width: 30rem) {
//   .#{$class}-list-wrapper {font-size: 130%; line-height: 3rem; display: flex; justify-content: center;align-items: center; padding: 0;}
//   .#{$class}-list {display:flex; justify-content: center; text-align: center; padding: 0 1rem;}
//   .#{$class}-list-link {display: block; width: 100%; padding: 0;}
// }

.#{$class} {
  position: sticky;
  top: 0;
  width: 100%;
}

.#{$class},
.#{$class}-link {
  background-color: $color-ospace;
  color: $color-westar;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.#{$class}-link {
  line-height: 2rem;
  &:hover {
    color: $color-ospace;
    background-color: $color-background;
    font-weight: bold;
    //padding: 0.1rem;
    transition: 0.3s;
    //border: 0.01rem solid $color-ottoman;
    margin: 0.2rem 0.1rem 0 0.1rem;
    border-radius: 0.3rem 0.3rem 0 0;
    //margin-bottom: 0.2rem;
  }
}

.#{$class}-icon-label,
.new-cv-icon-menu,
input.#{$class}-checkbox {
  display: none;
}
