
.menu
  label.menu-icon-label(for="menu-icon-id") 
    span.new-cv-icon-menu
  input.menu-checkbox(type="checkbox", name="menu-icon", id="menu-icon-id" checked)
  each list in resume.home.menu.list
    a.menu-link(href=`#${list.url}`) #{list.label}      
