// @media (min-width: 30rem) {
//   .#{$class}-list-wrapper {line-height: 1.5rem; display: flex; justify-content: center;align-items: center; padding: 0;}
//   .#{$class}-list {display:flex; justify-content: center; text-align: center; padding: 0 1rem;}
//   .#{$class}-list-link {display: block; width: 100%; padding: 0;}
// }
//
// @media (max-width: 30rem) {
//   .#{$class}-list-wrapper {font-size: 130%; line-height: 3rem; display: flex; justify-content: center;align-items: center; padding: 0;}
//   .#{$class}-list {display:flex; justify-content: center; text-align: center; padding: 0 1rem;}
//   .#{$class}-list-link {display: block; width: 100%; padding: 0;}
// }

.#{$class} {
  position: fixed;
  bottom: 40%;
  right: -100%;
  transition: 0.3s ease-in-out;
  width: 20%;
}

.#{$class},
.#{$class}-link {
  color: darken($color-amber, 20);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.#{$class}-link {
  background-color: $color-background;
  width: 100%;
  border: 0.01rem solid $color-ospace;
  border-bottom: none;
  border-right: none;
  line-height: 2rem;
  &:hover {
    color: $color-ospace;
    background-color: darken($color-background, 15);
    transition: 0.5s ease-in;
  }
  &:last-child {
    border-bottom: 0.01rem solid $color-ospace;
  }
}

.#{$class}-icon-wrapper {
  display: none;
}

.#{$class}-toggle {
  position: fixed;
  padding: 0 0.2rem;
  border-radius: 0.5rem;
  left: 81%;
  top: 85%;
  font-size: 2rem;
  color: darken($color-amber, 10);
  border: 0.1rem solid darken($color-red, 20);
}

.#{$class}-checkbox:checked ~ .#{$class} {
  right: 0rem;
}

input {
  display: none;
}
