$class: 'menu';

.#{$class} {
  @extend %section-title;
  font-size: 70%;
  color: $color-westar;
  justify-content: center;
  width: 100vw;
  left: 0;
  position: sticky;
  top: 0;
}

@media (min-width: 30rem) {
  .#{$class}-list-wrapper {line-height: 1.5rem; display: flex; justify-content: center;align-items: center; padding: 0;}
  .#{$class}-list {display:flex; justify-content: center; text-align: center; padding: 0 1rem;}
  .#{$class}-list-item {display: block; width: 100%; padding: 0;}
}

@media (max-width: 30rem) {
  .#{$class}-list-wrapper {font-size: 130%; line-height: 3rem; display: flex; justify-content: center;align-items: center; padding: 0;}
  .#{$class}-list {display:flex; justify-content: center; text-align: center; padding: 0 1rem;}
  .#{$class}-list-item {display: block; width: 100%; padding: 0;}
}


.#{$class}-icon:hover {
  color: $color-mojo;
  cursor: pointer;
}

.#{$class}-list {
  float: top;
  display: flex;
  width: 80%;
}


.#{$class}-list-wrapper {
  background-color: $color-ospace;
  justify-content: center;
  width: 100%;
}


.#{$class}-list-item:hover {
  color: $color-gossip;
  background: $color-asparagus;
}

.#{$class}-type-checkbox:checked ~ .#{$class}-list-item {
  display: none;
}


input[type=checkbox] {
  display: none;
}
