@media (min-width: 1280px) {

  .#{$class}-toggle {
    display: none;
  }

  .#{$class} {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .#{$class}-link {
    font-size: 100%;
    line-height: 3.5rem;
    border: none;
    border-top: 0.01rem solid $color-ospace;
    border-bottom: 0.01rem solid $color-mojo;
    &:last-child {
      border-bottom: 0.01rem solid $color-mojo;
    }
  }

}
