@import 'reset';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

%uppercase {
  text-transform: uppercase;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 1rem;
}

%component-title {
  font-size: 90%;
  text-align: center;
  padding: 0.5rem;
  margin: 2rem 0 1rem 0 ;
  display: inline-block;
  background-color: $color-westar;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
}

%section {
  min-height: 100vh;
}

%underline {
  color: $color-red;
}

%section-title {
  @extend %noselect;
}
%title-frame {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
}
%wrapper {
  margin: 0.5rem;
  padding: 0.5rem;
}

.container {
  background-color: $color-background;
}
