doctype html
html
  head
    meta(charset="utf8")
    -var resume = data.resume;
    title #{resume.page.pageTitle}
    meta(name="description", content=resume.page.pageDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    if config.entry.css.external
      link(rel="stylesheet", href="style.css")
  body
    .container
      block content
