@import 'reset';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

%uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

%section {
  min-height: 100vh;
}

%underline {
  color: $color-red;
}

%section-title {
  @extend %noselect;
}
%title-frame {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
}
%wrapper {
  margin: 1rem;
  padding: 1rem;
}

.container {
  background-color: $color-background;
}
