@import 'reset';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

html {
  font-size: calc( 12px + (24 - 12) * ( (100vw - 400px) / ( 800 - 400) ));
}

%uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

%section {
  min-height: 140vh;
}

%section-title {
  @extend %noselect;
}
%title-frame {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
}
%wrapper {
  margin: 1rem;
  padding: 1rem;
}
