@import 'reset';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: calc( 12px + (24 - 12) * ( (100vw - 400px) / ( 800 - 400) ));
}

%section {
  min-height: 100vh;
}
