extends _layout/layout


block content
  -var section = data.resume.section;
  include _component/home/home
  include _component/menu/menu
  include _component/about/about
  include _component/myresume/myresume
