#home
.home
  a.home-wrapper(href="#about")
    .home-header
      h1.home-author #{resume.home.author}
      h2.home-title  #{resume.home.title}
    .home-text Please click or scroll down for more great stuff
    .arrow-down
