
$class: 'home';

.#{$class} {
  @extend %section;
  @extend %section-title;
  background-image: url(asset/image/background-top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}




.#{$class}-author {
  font-size: 2rem;
  border-bottom: 0.01rem solid black;
  display: inline-block;
  @extend %title-frame;
}

.#{$class}-title {
  @extend %title-frame;
}
.#{$class}-wrapper {
  font-weight: bold;
}
