$class: 'menu';

.#{$class} {
  @extend %section-title;
  font-size: 0.5rem;
  color: $color-white;
  justify-content: center;
  margin: 5.8rem 0 -5rem 0 ;

}

.#{$class}-icon {
  cursor: pointer;
  padding: 0.2rem;
  margin: 0.2rem;
  border-bottom: 0.05rem solid $color-white;

}
.#{$class}-icon:hover {
  color: $color-mojo;
}

.#{$class}-list,
.#{$class}-icon {
  background: $color-asparagus;
  line-height: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.#{$class}-list-item {
  display: inline-block;
  padding: 0 1rem 0 1rem;
  border-right: 0.05rem solid $color-white;
  &:last-child {
    border-right: none;
  }
}
.#{$class}-list-item:hover {
  color: $color-mojo;
}

.#{$class}-type-checkbox:checked ~ .#{$class}-list-item {
  display: none;
}



input[type=checkbox] {
  display: none;
}
