@media (min-width: 1280px) {

  .#{$class}-details-title {
    font-size: 200%;
  }

  .#{$class}-details-underline {
    font-size: 120%;
  }

  .#{$class}-social-title {
    font-size: 110%;
  }


}
